* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 35%;
  background: rgba(0, 82, 82, 0.5);
  width: 93%;
  transition: .5s ease;
  opacity:0;
  color: #ffbd8e;
  font-size: 20px;
  padding: 4%;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
