/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Bad Script';
@import 'https://fonts.google.com/specimen/Nanum+Myeongjo?selection.family=Nanum+Myeongjo';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css';

body {
  background-image: url('/assets/images/Sage_Leaves.jpg');
  background-size: 25% 45%;
}

.bg-burgundy {
  background-color: #800020
}

.bg-peach {
  background-color: #ffede0
}

.bg-sage {
  background-color: #cfdbc5
}

.bg-teal {
  background-color: #005252
}
