p {
  font-size: 2em;
  font-family: 'Nanum+Myeongjo';

  color: #800020;
  /* -webkit-text-stroke: 1px #cc5500; */
}

b {
  text-shadow: 1px 1px #ffbd8e;
}

.rotateimg90 {
  -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg); /* Opera */
  transform: translateY(-100%) rotate(90deg); /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}
